.header  {
    position: relative;
    padding: 0;
   height: 35vw;
   background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 60%,
    #ffffff
  ),url(./view.jpg);
  background-size: cover;
  background-position: center
}
.navrow  {
    position: absolute;
    width: 50%;
    padding: 0;
   display: flex;
   justify-content:space-around ;
   margin: auto 0%;
   top: 25%;
   left:25%;
   border-bottom: 1px solid;
   border-top: 1px solid;
}
.text{
    color: #ffffff;
}



@media screen and (max-width: 600px){
  .navrow {
    position: flex;
    width: 0%;
    padding: 0;
   display: flex;
   justify-content:space-between ;
   margin: 0%;
   top: 0%;
   left:0%;
   border-bottom: 0px solid;
   border-top: 0px solid;
    
   margin: 1%;
   
  }

}